<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="header">
        <header class="mdl-layout__header mdl-layout__header--transparent">
            <div class="mdl-layout__header-row">
                <div class="mdl-layout-spacer"></div>
            </div>
        </header>

        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Jira</span>
            <nav class="mdl-navigation">
                <a th:href="@{/}">Нагрузка</a>
                <a th:href="@{/issues}">Задачи</a>
                <a th:href="@{/settings}">Настройки</a>
            </nav>
        </div>
    </th:block>

    <footer class="mdl-mini-footer" th:fragment="footer">
        <div class="mdl-mini-footer--left-section">
            <span>&copy; 2020 Анализ нагрузки сотрудников</span>
        </div>
    </footer>
</html>