<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Загрузка сотрудников в JIRA</title>

    <link rel="stylesheet" th:href="@{/external/mdl-v1.1.2/material.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

    <div class="layout mdl-layout mdl-js-layout">
        <header class="mdl-layout__header mdl-layout__header--transparent">
            <div class="mdl-layout__header-row">
                <span>Jira</span>

                <div class="mdl-layout-spacer"></div>

                <nav class="mdl-navigation">
                    <a th:href="@{/index}">Нагрузка</a>
                    <a th:href="@{/issues}">Задачи</a>
                </nav>
            </div>
        </header>

        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Jira</span>
            <nav class="mdl-navigation">
                <a th:href="@{/}">Нагрузка</a>
                <a th:href="@{/issues}">Задачи</a>
            </nav>
        </div>

        <main class="mdl-layout__content">
            <div class="mdl-grid">
                <section class="card-block mdl-shadow--2dp mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <div class="section-header">
                        <i class="material-icons mdl-list__item-icon">library_books</i>
                        <h4 class="caption">Задачи:</h4>
                        <div></div>
                    </div>

                    <div class="data-block">
                        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                            <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric"></th>
                                <th:block th:each="day : ${days}">
                                    <th class="mdl-data-table__cell--non-numeric" th:text="${day}"></th>
                                </th:block>
                            </tr>
                            </thead>
                            <tbody>
                                <th:block th:each="userLoad : ${userLoads}">
                                    <tr>
                                        <td th:text="${userLoad.userName}"></td>
                                        <th:block th:each="day : ${days}">
                                            <th class="mdl-data-table__cell" th:text="${userLoad.load[day]} %"></th>
                                        </th:block>
<!--                                        <th:block th:each="key : ${userLoad.load.keySet()}">-->
<!--                                            <td th:class="${userLoad.load[key]} > 1 ? 'overload': ''" th:text="${userLoad.load[key] * 100}" %></td>-->
<!--                                        </th:block>-->
                                    </tr>
                                </th:block>
                            </tbody>
                        </table>
                    </div>

                </section>
            </div>
        </main>

        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer--left-section">
                <div class="mdl-logo">
                    <span>&copy;</span>
                    <span>2020 Анализ нагрузки сотрудников</span>
                </div>
            </div>
        </footer>
    </div>
    <script type="text/javascript" th:src="@{webjars/jquery/3.5.1/jquery-slim.js}"></script>
</body>
</html>