<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Загрузка сотрудников в JIRA</title>

    <link rel="stylesheet" th:href="@{/external/mdl-v1.1.2/material.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

    <div class="layout mdl-layout mdl-js-layout">
        <div th:replace="fragments :: header" />
        <div class="mdl-grid">
            <section class="card-block mdl-shadow--2dp mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <div class="section-header issues">
                    <h5>Задачи</h5>
                    <a th:href="@{/}" class="nav-link">Нагрузка</a>
                    <a th:href="@{/settings}" class="nav-link">Настройки</a>
                    <form method="POST" th:action="@{/refresh/(returnUrl=${'/issues'})}">
                        <button class="mdl-button" type="submit" name="submit">
                            <i class="material-icons mdl-list__item-icon">refresh</i>
                        </button>
                    </form>
                </div>
            </section>
        </div>

        <main class="mdl-layout__content">
            <div class="mdl-grid">
                <section class="card-block mdl-shadow--2dp mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <div class="data-block">
                        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                            <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric">Ключ</th>
                                <th class="mdl-data-table__cell--non-numeric">Название задачи</th>
                                <th class="mdl-data-table__cell--non-numeric">Тип задачи</th>
                                <th class="mdl-data-table__cell--non-numeric">Исполнитель</th>
                                <th class="mdl-data-table__cell--non-numeric">Спринт</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="issue : ${issues}">
                                <tr>
                                    <td th:text="${issue.getKey()}"></td>
                                    <td th:text="${issue.getSummary()}"></td>
                                    <td th:text="${issue.issueType.getName()}"></td>
                                    <td th:text="${issue.user.getDisplayName()}"></td>
                                    <td th:text="${issue.sprint.getName()}"></td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </main>

        <div th:replace="fragments :: footer" />
    </div>
<!--    <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>-->
    <script type="text/javascript" th:src="@{webjars/jquery/3.5.1/jquery.js}"></script>
<script type="text/javascript" th:src="@{/external/mdl-v1.1.2/material.js}"></script>
</body>
</html>